body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
  ),
    url('/brick.jpg') no-repeat fixed center;
  background-size: 100% 100%;
}

@font-face {
font-family: 'HighVoltage Rough';
src: url('HighVoltage Rough.ttf') format('truetype');
}

.header {
  display: grid;
  grid-template-columns: 5% 85% 10%;
}

h1 {
  font-size: 5rem;
  font-family: 'HighVoltage Rough';
  margin-bottom: 0;
  text-decoration: underline;
}

h2 {
  font-size: 1.5rem;
  font-family: 'HighVoltage Rough';
  margin-top: -1rem
}

h3 {
  font-size: 1rem;
  text-align: center;
  font-family: 'HighVoltage Rough';
  color: white
}

p {
  color: rgb(97, 131, 93);
}

.name, h1, h2, .header div, .svg {
  color: #fff;
  grid-column-start: 2;
  justify-self: start;
}

.typewriter{
  color: white;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation:
    type 3s steps(40, end),
    blink-caret .75s step-end 10s;
}

p:nth-child(2){
  animation: type2 6s steps(60, end);
}

p a{
  color: white;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

.hidden {
  display: none;
}

/*@keyframes blink{to{opacity: .0;}}*/

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(31, 33, 33)
}

.navitem {
  font-size: 1.5rem;
  font-family: 'HighVoltage Rough';
  padding: 1rem 2rem 1rem 0;
}

p {
  margin: 0
}

.card {
  background-color: rgb(97, 131, 93);
  opacity: 0.6;
  border: 1px solid black;
  width: 33.3%;
  margin-top: 2rem;
}

.maincard {
  display: flex;
  flex-direction: column;
  align-items: center
}

.card:hover {
  opacity: 1;
}

.maincard {
  padding: .25rem;
}

.routes {
  display: flex
}

.cardButton {
  border-radius: 3px;
  border: 1px solid rgb(31, 33, 33);
  color: rgb(31, 33, 33);
  background-color: white;
}

.cardButton:hover {
  border: 1px solid white;
  color: white;
  background-color: rgb(31, 33, 33);
}
