body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100% 100%;
  background:
    linear-gradient(
      0deg,
      hsla(0,0%,100%, .7) 0%,
      hsla(0,0%,100%, .7) 100%),
      url('/paper.jpg');
  background-repeat: repeat;
  background-position: fixed;


    /* no-repeat fixed center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#body::before {
  opacity: 1;
}

#root {
  width: 100vw;
}

.App {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw
}

/*********** heading ************/

.heading {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
}

h1 {
  font-size: 5rem;
  font-family: 'Sue Ellen Francisco', cursive;
  margin: 1rem 0;
  color: rgb(97, 131, 93);
  grid-column: 2 / 3;
  justify-self: center;
  grid-row: 1 / 2;
  text-align: center;
}

.tagline {
  margin: 2rem 0 1rem 0;
  padding: 0 0 0 0;
  color: rgb(97, 131, 93);
  grid-row: 2/3
}

h2 {
  font-size: 2rem;
  font-family: 'Sue Ellen Francisco', cursive;
  cursor: auto;
  padding: 1rem 0 1rem 0;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Sue Ellen Francisco', cursive;
  color: white;
}

h4 {
  font-size: 1.25rem;
  font-family: 'Sue Ellen Francisco', cursive;
  color: rgb(97, 131, 93);
  margin: .5rem 0 .5rem 0;
}

p {
  color: rgb(97, 131, 93);
}

.name, h2, .heading div, .svg {
  color: #fff;
  grid-column-start: 2;
  justify-self: center;
}

.typewriter{
  color: rgb(97, 131, 93);
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 40rem;
  text-align: center;
  grid-row: 3 / 4;
  animation:
    type 3s steps(40, end),
    blink-caret .75s step-end 10s;
}

.joke:nth-child(2){
  animation: type2 6s steps(60, end);
}

.burger {
  background-color: rgb(97, 131, 93);
  height: .25rem;
  width: 1.5rem;
  margin: .35rem 1rem;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 0; }
}

.hidden {
  display: none;
}

.ant-btn-circle {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  margin-top: 2rem;
}

.ant-btn-circle:hover {
  background-color: transparent;
  border: 1px solid rgb(97, 131, 93);
}

.ant-btn:focus {
  background-color: transparent;
  color: rgb(97, 131, 93);
  border: none;

}

.ant-btn {
  color: rgb(97, 131, 93);
}

.anticon {
  font-size: 1rem;
}

.arrowDown {
  grid-column: 2 / 3;
}

.ghost {
  grid-row: 3 / 4
}



/**************** nav ******************/

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p a{
  color: white;
  text-decoration: none;
}

a p::selection {
  text-decoration: underline;
  text-decoration-color: white
}

.navitem {
  font-size: 1.5rem;
  font-family: 'Sue Ellen Francisco', cursive;
  padding: 1rem 2rem 1rem 0;
  color: transparent;
}
.navitem:hover {
  text-decoration: underline;
  text-decoration-color: white
}

.navitem p::selection {
  background-color: none;
}

.logobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 2.5rem;
  padding-left: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(61, 50, 52);
  height: 12.5vh;
  text-align: center;
}

header {
  height: 87.5vh
}

p {
  margin: 0
}

/************* Project Cards ***************/

.card {
  background-color: rgb(97, 131, 93);
  opacity: 0.8;
  border: 1px solid black;
  width: 20%;
  z-index: 0;
  position:relative;
}

.box_industries .content {
  background-color: rgb(61, 50, 52);
  opacity: .8;
  bottom: -100%;
  color: #fff;
  left: 0%;
  text-align: center;
  position: absolute;
  transition: bottom 0.5s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maincard:hover .content {
  bottom: 0%;
  height: 100%;  
}

.shortDescription {
  color: white;
  padding: .5rem 1.3rem;
}

.maincard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.projectList {
  display: flex;
  flex-wrap: wrap
}

.card:hover {
  opacity: 1;
}

.maincard {
  padding: .25rem;
  cursor: pointer;
}

.thumbnail {
  width: 75%;
  margin-bottom: 1rem;
  border: 1px solid rgb(242, 242, 219);
}

.sectionTitle {
  text-align: center;
  color: rgb(97, 131, 93);
  margin: 1.5rem 0 0 0;
  font-size: 3rem
}

.notop {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}
/************** About ****************/

.about {
  background: white;
  color: rgb(97, 131, 93);
  text-align: center;
  padding: 0 3rem 1rem 3rem;
  margin-top: 3rem;
  cursor: auto;
}

.about p {
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
}

.about ul {
  font-family: 'Nunito', sans-serif;
}

.tldr-btn, .download {
  margin-bottom: .5rem;
  box-shadow: 1px 1px 10px grey;
  font-family: 'Nunito', sans-serif;
}

.ant-btn:hover {
  border-color: rgb(97, 131, 93);
  color: rgb(97, 131, 93);
}

.strengths {
  text-align: left;
  list-style: disc;
  padding: 0 2rem 0 2rem;
}


/************** Resume ****************/

.resume {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  cursor: auto;
  text-align: center;
}

.resume-png {
  width: 85vw;
}

.download {
  margin-top: 2rem;
}

/************** Footer ****************/

.footerContainer{
  background-color: rgb(61, 50, 52);
}

.footer {
  background-color: rgb(61, 50, 52);
  margin-top: .5rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-rows: 33% 33% 10%;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  color: white;
  cursor: auto;
}

.icon {
  height: 1.25rem;
  justify-self: end;
  padding-right: .5rem;
  margin: .5rem 0 .5rem 0;
}

.ftext {
  align-self: left;
  color: white;
  margin: .5rem 0 .5rem 0;
  font-family: 'Nunito', sans-serif;
}

.copy {
  padding: 0 .75rem 0 0;
}

.hamburger {
  visibility: hidden;
}

@media screen and (max-width: 520px) {
  .hamburger {
    visibility: visible;
  }

  .navitem {
    display: none;
  }
}

/************* Project Modals ***************/

.projectLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.projectModal {
  display: flex;
  justify-content: space-between
}

.projectLink {
  color: rgb(44, 46, 236);
  font-family: 'Nunito', sans-serif;
  padding: .5rem;
}

.projectDesc {
  color: rgba(0, 0, 0, 0.65);
  font-size: .75rem;
  font-family: 'Nunito', sans-serif;
}

.tall .projectImage {
  height: 18rem;
}

.tall .projectText {
  width: 15rem;
  color: rgb(31, 33, 33);
  font-family: 'Nunito', sans-serif;
}

.tall {
  display: flex;
  justify-content: space-around;
}

.tall .tech {
  margin-left: 2rem;
  font-family: 'Nunito', sans-serif;
}

.tall .links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 1rem 0 2rem 0;
  font-family: 'Nunito', sans-serif;
}

.tall .links a {
  padding: 1rem 0 0 0;
}

.tall .imageAndTech {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}

.wide .projectImage {
  height: 15rem;
}

.wide .projectText {
  color: rgb(31, 33, 33);
  margin: 0 1rem 0 1rem;
  font-family: 'Nunito', sans-serif;
}

.wide .links {
  display: flex;
  justify-content: space-around;
  margin: .5rem 0 1rem 0;
  font-family: 'Nunito', sans-serif;
}

.wide .imageAndTech {
  display: flex;
  justify-content: space-around;
  margin: 0 1rem 0 1rem;
}

.wide .tech {
  margin: 0 0 0 1rem;
  font-family: 'Nunito', sans-serif;
}

.ant-modal-content{
   margin-left:-5rem;
   margin-top: -2rem;
}

.ant-modal-body {
  padding: .5rem;
}

.ant-modal-title{
  color: rgb(97, 131, 93);
  font-size: 1.8rem;
  font-family: 'Sue Ellen Francisco', cursive;
}

.techlist {
  list-style-type: circle;
  list-style-position: inside;
  font-size: .65rem;
  width: 6rem;
}

li span {
  position: relative;
  left: -5px;
}

.anticon-down {
  font-size: 2rem;
}

@media screen and (max-width: 780px) {
  .name {
    grid-column: 1 / 4
  }

  .maincard:hover .content {
    height: 87.2%;  
  }

  .tagline {
    grid-column: 1 / 4;
    margin: 0
  }

  h1 {
    font-size: 4rem;
  }

  .navitem {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    color: transparent;
  }

  .typewriter{
    color: rgb(97, 131, 93);
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    grid-row: 3 / 4;
    width: auto;
    animation:
      type 3s steps(40, end),
      blink-caret .75s step-end 10s;
  }

  .projectList {
    flex-wrap: wrap
  }

  .card {
    width: 50vw;
  }

  .ant-button-circle {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }

  .footer {
    grid-template-columns: 35% 65%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
  }

  .copyright-icon {
    grid-row: 6
  }

  .copyright-text {
    grid-row: 6
  }

  .about {
    padding: 0 1rem 1rem 1rem;
  }

  .ant-modal {
    width: 100px;
    overflow: 'scroll'
  }

  /* .ant-modal-body {
    width: 40%;
  } */

  .ant-modal-content{
     margin-left: 0rem;
     margin-top: 0rem;
  }

  .wide .projectImage {
    height: 10rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .projectLink {
    align-self: center;
  }

  .wide .imageAndTech {
    flex-direction: column;
  }

  .projectDesc {
    width: 45vh;
    text-align: center;
  }

  .tall {
    flex-direction: column;
  }

  .box_industries .content {
    display: none;
  }
}

@media screen and (max-width: 345px) {
  .card {
    width: 51vw;
  }
}

.burgerMenu {
  background-color: rgb(31, 33, 33);
  z-index: 1;
  margin-left: -10rem;
  animation: menuSlideIn 1s ease-in-out 0s 1
}

@keyframes menuSlideIn {
  0% {
    margin-left: 0
  }
  100% {
    margin-left: -10rem
  }
}

.background {
  z-index: -1
}

.burgernavitem {
  font-size: 1.5rem;
  font-family: 'Sue Ellen Francisco', cursive;
  padding: 0 0 0 0;
  color: transparent;
}

.burgernavitem:hover {
  text-decoration: underline;
  text-decoration-color: white
}

.burgernavitem p::selection {
  background-color: none;
}

.burgernavtitle {
  padding-left: 1rem;
  padding-top: 1.4rem;
}

.close {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 32px;
  height: 32px;
  animation: xFadeIn 2s ease-in-out 0s 1
}

@keyframes xFadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: rgb(97, 131, 93);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



